<div class="modal fade" id="official-edit" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="official-add-modal-title">修改参数</h3>
            </div>
            <div class="modal-body">
                <form id="official-add-form">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               		文案位置:
					            </span>
                                <div class="form-group">
                                    <input type="text" readonly="readonly" name="name" class="form-control">
                                    <input type="text" hidden name="id" class="form-control">
                                    <input type="text" hidden name="type" class="form-control">
                                </div>
                            </div>
                        </div>
                        
                         <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 任务介绍:
					            </span>
                                <div class="form-group">
                                	<div id="editor">
								       	
								    </div>
                                </div>
                                
                                <textarea id="details" name="details"  hidden="true"></textarea>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="official-add-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/official/officialEdit.js}"></script>