<div class="card">
	<div data-th-include="system/makeMoneyLog/makeMoneyLogAdd"></div>
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" />
                    <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />
                    <div class="dropdown actions__item" shiro:hasAnyPermissions="makeMoneyLog:check">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" onclick="updatemakeMoneyLog()" shiro:hasPermission="makeMoneyLog:check">审批</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="makeMoneyLog-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	状态
					            </span>
                                    <div class="form-group">
                                    	<select class="form-control" name="status">
                                            <option value="2" selected>待审批</option>
                                            <option value="1">待上传</option>
                                            <option value="3">审批通过</option>
                                            <option value="4">审批未通过</option>
                                            <option value="5">取消</option>
                                            <option value="6">过期</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	标题ࣺ
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="title" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="makeMoneyLogTable" data-mobile-responsive="true" class="mb-bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/makeMoneyLog/makeMoneyLog.js}"></script>
<script data-th-src="@{js/app/system/makeMoneyLog/makeMoneyLogEdit.js}"></script>