<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.system.dao.ReadRewardsMapper">
  <resultMap id="BaseResultMap" type="cc.mrbird.system.domain.ReadRewards">
   <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="daily_cnt" jdbcType="INTEGER" property="dailyCnt" />
 	<result column="explain" jdbcType="VARCHAR" property="explain"/>
 	<result column="gold" jdbcType="INTEGER" property="gold"/>
 	<result column="hour" jdbcType="INTEGER" property="hour"/>
 	<result column="hor_cnt" jdbcType="INTEGER" property="horCnt"/>
 	<result column="hor_money" jdbcType="VARCHAR" property="horMoney"/>
  </resultMap>
  
   <select id="findRewards" resultType="ReadRewards" >
  		select 
  			id,daily_cnt dailyCnt,`explain`,gold,hour,hor_cnt horCnt,hor_money horMoney
  		from t_sys_read_rewards t
  		where id='1'
  </select>
  
  
  
  <update id="update"  parameterType="ReadRewards" >
  	update t_sys_read_rewards set  
  		daily_cnt = #{dailyCnt},
  		gold =#{gold},
  		hor_cnt=#{horCnt},
  		hor_money=#{horMoney}		
  	 where id=#{id}
  </update>
  
  
 
</mapper>